# 01.Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02.Importing data

In [2]:
# Define a path
path = r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis'

In [3]:
# Importing orders.csv
df_ords = pd.read_csv(r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis\02 Data\Prepared Data\orders_cleaned.csv', index_col = False)

In [4]:
# Importing products.csv
df_prods = pd.read_csv(r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [5]:
# Importing order_products_prior.csv
df_ords_prior = pd.read_csv(r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis\02 Data\Original Data\order_products_prior.csv', index_col = False)

# 03. Merging Instacart data

In [6]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
# Check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,1,2398795,1,2,3,7,15.0,False
1,2,473747,1,3,3,12,21.0,False
2,3,2254736,1,4,4,7,29.0,False
3,4,431534,1,5,4,15,28.0,False
4,5,3367565,1,6,2,7,19.0,False

In [9]:
df_ords.shape

(3214874, 8)

In [10]:
# Merging both DataFrames 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# Check the output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,2,3,7,15.0,False,196,1,1,both
1,1,2398795,1,2,3,7,15.0,False,10258,2,0,both
2,1,2398795,1,2,3,7,15.0,False,12427,3,1,both
3,1,2398795,1,2,3,7,15.0,False,13176,4,0,both
4,1,2398795,1,2,3,7,15.0,False,26088,5,1,both

In [13]:
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Export data to csv
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [15]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))