# 01.Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Define a path
path = r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis'

In [3]:
# Importing products_cleaned
df_prods_clean = pd.read_csv(r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis\02 Data\Prepared Data\products_cleaned.csv', index_col = False)

In [4]:
# Importing orders_products_combined
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Exercise 4.6

In [5]:
# Check the shape of the imported dataframe 
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,-1.0,False,196,1,0,both
1,0,2539329,1,1,2,8,-1.0,False,14084,2,0,both
2,0,2539329,1,1,2,8,-1.0,False,12427,3,0,both
3,0,2539329,1,1,2,8,-1.0,False,26088,4,0,both
4,0,2539329,1,1,2,8,-1.0,False,26405,5,0,both

In [8]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['Unnamed: 0'])

In [10]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,-1.0,False,196,1,0
1,2539329,1,1,2,8,-1.0,False,14084,2,0
2,2539329,1,1,2,8,-1.0,False,12427,3,0
3,2539329,1,1,2,8,-1.0,False,26088,4,0
4,2539329,1,1,2,8,-1.0,False,26405,5,0

In [11]:
df_orders_products_combined.shape

(32434489, 10)

In [12]:
# Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_prods_clean = df_prods_clean.drop(columns = ['Unnamed: 0'])

In [14]:
# Check the output
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Check the output
df_prods_clean.shape

(49672, 5)

In [17]:
# Combine the orders_products_combined dataframe with your products data set
df_ords_prods_merged = df_orders_products_combined.merge(df_prods_clean, on = 'product_id', indicator = True)

In [18]:
# Confirm the results of the merge using the merge flag
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
df_ords_prods_merged.shape

(32404859, 15)

In [20]:
# Export data to csv
df_ords_prods_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

In [21]:
# Export data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))