# 01.Importing libraries

In [103]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [104]:
# Define a path
path = r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis'

In [105]:
# Importing ords_prods_merged
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03. If-Statements with User-Defined Functions

In [106]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,-1.0,False,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [107]:
# Creating a subset
df = df_ords_prods_merged[:1000000]

In [108]:
df.shape

(1000000, 15)

In [109]:
# Define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [111]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\franc\AppData\Local\Temp\ipykernel_19384\902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [113]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [114]:
df['prices'].max()

14.8

# If-Statements with the loc() Function

In [116]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [117]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [118]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [119]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

# If-Statements with For-Loops

In [120]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [132]:
# Define the loop
result = []

In [133]:
for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("busiest day")
  elif value == 4:
    result.append("least busy")
  else:
    result.append("regularly busy")

In [135]:
df_ords_prods_merged['busiest_day'] = result

In [136]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

regularly busy    22416875
busiest day        6204182
least busy         3783802
Name: busiest_day, dtype: int64

In [137]:
df_ords_prods_merged.shape

(32404859, 17)

# Exercise 4.7

Q2 Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days.

In [138]:
# Create the loop
result2 = []

In [139]:
for value in df_ords_prods_merged['orders_day_of_week']:
  if value == 0 or value ==1:
    result2.append('busiest days')
  elif value == 4 or value == 3:
    result2.append('slowest days')
  else:
    result2.append('regularly busy days')

In [140]:
# Create a new column for this using a suitable method.
df_ords_prods_merged['busiest_days'] = result2

In [141]:
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

regularly busy days    12916111
busiest days           11864412
slowest days            7624336
Name: busiest_days, dtype: int64

In [142]:
#Check the values of this new column for accuracy
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_days,busiest_day
0,2539329,1,1,2,8,-1.0,False,196,1,0,Soda,77,7,9.0,both,regularly busy days,regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,regularly busy
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,regularly busy
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,least busy
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,least busy

In [29]:
df_ords_prods_merged.shape

(32404859, 17)

Q4 When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [143]:
# Identify the busier hours of the day
busiest_hours = df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

In [144]:
busiest_hours

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [ ]:
We can notice that:
Least orders: 0 - 7am 
Most orders: 10am - 4pm 
Average orders. 7-10 am, 4pm - 0am

In [145]:
# Create the loop
hourly_result = []

In [146]:
for value in df_ords_prods_merged["order_hour_of_day"]:
  if (value >= 10 and value <= 16):
    hourly_result.append("Most orders")
  elif (value <= 6):
    hourly_result.append("Fewest orders")
  else:
    hourly_result.append("Average orders")

In [147]:
# Create a new column for this using a suitable method.
df_ords_prods_merged['busiest_hours'] = hourly_result

In [155]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_days,busiest_day,busiest_hours
0,2539329,1,1,2,8,-1.0,False,196,1,0,Soda,77,7,9.0,both,regularly busy days,regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,regularly busy,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,regularly busy,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,least busy,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,least busy,Most orders

In [156]:
df_ords_prods_merged.shape

(32404859, 18)

In [157]:
# Print the frequency for this new column
df_ords_prods_merged['busiest_hours'].value_counts(dropna = False)

Most orders       18663868
Average orders    12854170
Fewest orders       886821
Name: busiest_hours, dtype: int64

In [158]:
#Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))